# Lab 1a -- complete
## Basics Practice: Notebooks, Comments, print(), type(), Addition, Errors and Art

### Student will be able to
- Use Python 3 in Jupyter notebooks
- Write working code using `print()` and `#` comments  
- Write working code using `type()` and variables
- Combine Strings using string addition (+)
- Add numbers in code (+)
- Troubleshoot errors
- Create character art  

>**Note:** The **[ ]** indicates student has a task to complete.
  
>**Reminder:** To run code and save changes: student should upload or clone a copy of notebooks. 

#### Notebook use
- [ ] Insert a **code cell** below   
- [ ] Enter the following Python code, including the comment: 
```Python 
# [ ] print 'Hello!' and remember to save notebook!
print('Hello!')
```
Then run the code - the output should be:  
`Hello!`

In [ ]:
print('hello')

#### Run the cell below   
- [ ] Use **Ctrl + Enter**  
- [ ] Use **Shift + Enter**

In [1]:
print('watch for the cat')

watch for the cat

#### Nathan's Notebook editing
- [ ] Edit **this** notebook Markdown cell replacing the word "Student's" above with your name
- [ ] Run the cell to display the formatted text
- [ ] Run any 'markdown' cells that are in edit mode, so they are easier to read

In [2]:
#### [ ] Convert \*this\* cell from markdown to a code cell, then run it  
print('Run as a code cell')

Run as a code cell

##  # Comments
Create a code comment that identifies this notebook, containing your name and the date.

In [ ]:
#this is a comment by nathan

#### Use print() to 
- [ ] print [**your_name**]
- [ ] print **is using Python!**

In [1]:
# [ ] print your name
print("Nathan")
# [ ] print "is using Python"
print("is using Python")

Nathan
is using Python

Output above should be:  
`Your Name  
is using Python!`

#### Use variables in print()
- [ ] Create a variable **your_name** and assign it a string containing your name
- [ ] Print **your_name**

In [3]:
# [ ] create a variable your_name and assign it a string containing your name
your_name = "Nathan"
#[ ] print your_name
print(your_name)

Nathan

#### Create more string variables
- **[ ]** Create variables as directed below
- **[ ]** Print the variables

In [4]:
# [ ] create variables and assign values for: favorite_song, shoe_size, lucky_number
favorite_song = "hours and hours"
shoe_size = "7.5"
lucky_number = "0207"
# [ ] print the value of each variable favorite_song, shoe_size, and lucky_number
print(favorite_song, shoe_size, lucky_number)

hours and hours 7.5 0207

#### Use string addition
- **[ ]**  Print the above string variables (favorite_song, shoe_size, lucky_number) combined with a description by using **string addition**
>For example, favorite_song displayed as:  
`favorite song is happy birthday`

In [8]:
# [ ] print favorite_song with description
print("my favorite song is " + favorite_song)

# [ ] print shoe_size with description
print("my shoe size is " + shoe_size)

# [ ] print lucky_number with description
print("my luck number is " + lucky_number)

my favorite song is hours and hours
my shoe size is 7.5
my luck number is 0207

##### More string addition
- **[ ]** Make a single string (sentence) in a variable called favorite_lucky_shoe using **string addition** with favorite_song, shoe_size, lucky_number variables and other strings as needed 
- **[ ]** Print the value of the favorite_lucky_shoe variable string
> Sample output:  
`For singing happy birthday 8.5 times, you will be fined $25`

In [9]:
# assign favorite_lucky_shoe using
favorite_lucky_shoe = favorite_song + shoe_size + lucky_number
print(favorite_lucky_shoe)

hours and hours7.50207

### print() art

#### Use `print()` and the asterisk **\*** to create the following shapes:
- [ ] Diagonal line  
- [ ] Rectangle  
- [ ] Smiley face

In [24]:
# [ ] print a diagonal using "*"

print("*")
print(" *")
print("  *")
print("   *")
print("    *")
print("     *")
# [ ] rectangle using "*"
print("******")
print("*    *")
print("*    *")
print("*    *")
print("******")
# [ ] smiley using "*"
print("   *****   ")
print("  *     *  ")
print(" * *   * * ")
print(" *       * ")
print(" * *   * * ")
print(" *  ***  * ")
print("  *     *  ")
print("   *****   ")

*
 *
  *
   *
    *
     *
******
*    *
*    *
*    *
******
   *****
  *     *
 * *   * *
 *       *
 * *   * *
 *  ***  *
  *     *
   *****

### Using `type()`
#### Calculate the *type* using `type()`

In [25]:
# [ ] display the type of 'your name' (use single quotes)

type('nathan')

str

In [26]:
# [ ] display the type of "save your notebook!" (use double quotes)
type("save your notebook")

str

In [28]:
# [ ] display the type of "25" (use quotes)
type("25")

str

In [29]:
# [ ] display the type of "save your notebook " + 'your name'

type("save your notebook" + 'your name')

str

In [30]:
# [ ] display the type of 25 (no quotes)
type(25)

int

In [31]:
# [ ] display the type of 25 + 10 

type(25+10)

int

In [32]:
# [ ] display the type of 1.55
type(2.55)

float

In [33]:
# [ ] display the type of 1.55 + 25

type(1.55+25)

float

#### Find the type of variables
- **[ ]** Run the cell below to make the variables available to be used in other code
- **[ ]** Display the data type as directed in the cells that follow

In [18]:
# assignments ***RUN THIS CELL*** before starting the section
#i assume this is supposed to define the variables bet t'was blank so i did it myself
student_name = "Nathan"
student_age = 20
student_grade = "DDM"
student_id = 431134

In [12]:
# [ ] display the current type of the variable student_name
type(student_name)

str

In [13]:
# [ ] display the type of student_age
type(student_age)

int

In [14]:
# [ ] display the type of student_grade
type(student_grade)

str

In [19]:
# [ ] display the type of student_age + student_grade
type(student_age, student_grade)

TypeError: type() takes 1 or 3 arguments

In [20]:
# [ ] display the current type of student_id
type(student_id)

int

In [21]:
# assign new value to student_id 
student_id = 4.331

# [ ] display the current of student_id
type(student_id)

float

#### Number integer addition

- **[ ]** Create variables (x, y, z) with integer values

In [22]:
# [ ] create integer variables (x, y, z) and assign them 1-3 digit integers (no decimals - no quotes)
x = 1
y = 2
z = 3

- **[ ]** Insert a **code cell** below
- **[ ]** Create an integer variable named **xyz_sum** equal to the sum of x, y, and z
- **[ ]** Print the value of **xyz_sum**

In [33]:
xyz_sum = (x + y + z)
print(xyz_sum)

6

### Errors
- **[ ]** Troubleshoot and fix the errors below

In [ ]:
# [ ] fix the error 

print("Hello World!")

In [36]:
# [ ] fix the error 
print("strings have quotes and variables have names")

strings have quotes and variables have names

In [35]:
# [ ] fix the error 
print( "I have $" + "5")

I have $5

In [37]:
# [ ] fix the error 
print('always save the notebook')

always save the notebook

## ASCII art
- **[ ]** Display first name or initials as ASCII Art
- **[ ]** Challenge: insert an additional code cell to make an ASCII picture

In [ ]:
# [ ] ASCII ART

In [ ]:
# [ ] ASCII ART

[Terms of use](http://go.microsoft.com/fwlink/?LinkID=206977) &nbsp; [Privacy & cookies](https://go.microsoft.com/fwlink/?LinkId=521839) &nbsp; © 2017 Microsoft